@font-face {
  font-family: "slicker";
  src: url(~@/themes/fonts/slicker-regular.ttf) format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}

