.van-radio {
  overflow: hidden;
  user-select: none;
}
.van-radio__input,
.van-radio__label {
  display: inline-block;
  vertical-align: middle;
}
.van-radio__radio {
  width: 18px;
  height: 18px;
  background: white;
  border: 1px solid #9a9a9a;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.van-radio__radio--checked {
  background: #1E5ADC;
  border: none;
}
.van-radio__radio--checked::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  background: white;
  width: 8px;
  height: 8px;
  z-index: 11;
  border-radius: 50%;
}
.van-radio__input {
  height: 1em;
  position: relative;
  font-size: 20px;
}
.van-radio__control {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.van-radio__label {
  line-height: 20px;
  margin-left: 10px;
}
.van-radio__label--left {
  float: left;
  margin: 0 10px 0 0;
}
.van-radio .van-icon {
  width: 1em;
  pointer-events: none;
}
.van-radio .van-icon-checked {
  color: #1E5ADC;
}
.van-radio .van-icon-check {
  color: #969799;
}
.van-radio--disabled .van-icon {
  color: #e5e5e5;
  border-radius: 100%;
  background-color: #f8f8f8;
}
