@font-face {
    font-family: "slicker-regular";
    src: url("~@/themes/fonts/slicker-regular.eot"); /* IE9 */
    src: local("slicker-regular"), url("~@/themes/fonts/slicker-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~@/themes/fonts/slicker-regular.woff") format("woff"), /* chrome, firefox */
    url("~@/themes/fonts/slicker-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("~@/themes/fonts/slicker-regular.svg#slicker-regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


