.van-loading {
  width: 30px;
  height: 30px;
  z-index: 0;
  font-size: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
}
.van-loading--circle {
  width: 16px;
  height: 16px;
}
.van-loading__spinner {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  animation: van-rotate 0.8s linear infinite;
}
.van-loading__spinner--circle {
  border-radius: 100%;
  border: 3px solid transparent;
  border-color: #B4BDCA;
  border-top-color: #7d7e80;
}
.van-loading__spinner--gradient-circle {
  background-size: contain;
  background-image: url('https://img.yzcdn.cn/vant/gradient-circle-black.png');
}
.van-loading__spinner--spinner {
  animation-timing-function: steps(12);
}
.van-loading__spinner--spinner i {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.van-loading__spinner--spinner i::before {
  width: 2px;
  height: 25%;
  content: ' ';
  display: block;
  margin: 0 auto;
  border-radius: 40%;
  background-color: currentColor;
}
.van-loading__spinner--circular {
  animation-duration: 2s;
}
.van-loading__circular {
  width: 100%;
  height: 100%;
}
.van-loading__circular circle {
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
  animation: van-circular 1.5s ease-in-out infinite;
}
.van-loading--white .van-loading__spinner--circle {
  border-color: rgba(0, 0, 0, 0.1);
  border-top-color: rgba(255, 255, 255, 0.7);
}
.van-loading--white .van-loading__spinner--gradient-circle {
  background-image: url('https://img.yzcdn.cn/vant/gradient-circle-white.png');
}
@keyframes van-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
.van-loading__spinner--spinner i:nth-of-type(1) {
  opacity: 1;
  transform: rotate(30deg);
}
.van-loading__spinner--spinner i:nth-of-type(2) {
  opacity: 0.9375;
  transform: rotate(60deg);
}
.van-loading__spinner--spinner i:nth-of-type(3) {
  opacity: 0.875;
  transform: rotate(90deg);
}
.van-loading__spinner--spinner i:nth-of-type(4) {
  opacity: 0.8125;
  transform: rotate(120deg);
}
.van-loading__spinner--spinner i:nth-of-type(5) {
  opacity: 0.75;
  transform: rotate(150deg);
}
.van-loading__spinner--spinner i:nth-of-type(6) {
  opacity: 0.6875;
  transform: rotate(180deg);
}
.van-loading__spinner--spinner i:nth-of-type(7) {
  opacity: 0.625;
  transform: rotate(210deg);
}
.van-loading__spinner--spinner i:nth-of-type(8) {
  opacity: 0.5625;
  transform: rotate(240deg);
}
.van-loading__spinner--spinner i:nth-of-type(9) {
  opacity: 0.5;
  transform: rotate(270deg);
}
.van-loading__spinner--spinner i:nth-of-type(10) {
  opacity: 0.4375;
  transform: rotate(300deg);
}
.van-loading__spinner--spinner i:nth-of-type(11) {
  opacity: 0.375;
  transform: rotate(330deg);
}
.van-loading__spinner--spinner i:nth-of-type(12) {
  opacity: 0.3125;
  transform: rotate(360deg);
}
